
    <link rel="icon" href="https://img.icons8.com/wired/64/ffffff/manager.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 

    
<div class="container-fluid ps-md-5 pe-ms-5 section-1">
    <div class="page-title">Технологии</div>
    <div class="page-paragraph">
        Мы разрабатываем решения для широкого спектра областей бизнеса. Наиболее частые сферы:
    </div>
    <div class="row mb-5 technologies">
        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 56" style="enable-background:new 0 0 64 56;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st1{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st2{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st3{fill:#FFFFFF;}
                        .st4{fill:none;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st5{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#BCC0C4;stroke-width:2;stroke-miterlimit:10;}
                        .st7{fill:#E9EAEB;}
                        .st8{fill:#68C4EE;}
                        .st9{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st10{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st11{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st12{fill:none;}
                        .st13{fill:#2F2F90;}
                        .st14{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st15{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st16{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st17{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <path class="st7" d="M12.3,19.1h39.4C49.3,9.3,40.4,1.9,29.8,1.9c-12.4,0-22.4,10-22.4,22.4c0,5.2,1.8,10.1,4.8,13.9V19.1z"/>
                        <path class="st7" d="M17,25h-2c-1.7,0-3-1.3-3-3v30c0,1.7,1.3,3,3,3h2V25z"/>
                        <line class="st4" x1="51" y1="12" x2="51" y2="6"/>
                        <line class="st4" x1="54.8" y1="12.6" x2="57.4" y2="8.1"/>
                        <line class="st4" x1="57.7" y1="15.6" x2="62.2" y2="13"/>
                        <line class="st4" x1="59" y1="20" x2="64" y2="20"/>
                        <circle class="st6" cx="9.5" cy="4.5" r="3.5"/>
                        <line class="st6" x1="23" y1="7" x2="23" y2="13"/>
                        <line class="st6" x1="26" y1="10" x2="20" y2="10"/>
                        <line class="st6" x1="3" y1="21" x2="3" y2="27"/>
                        <line class="st6" x1="6" y1="24" x2="0" y2="24"/>
                        <line class="st6" x1="3" y1="21" x2="3" y2="27"/>
                        <line class="st6" x1="6" y1="24" x2="0" y2="24"/>
                        <path class="st7" d="M12,22c0,1.7,1.3,3,3,3h38v-6H15C13.3,19,12,20.3,12,22z"/>
                        <path class="st4" d="M53,25v-6H15c-1.7,0-3,1.3-3,3"/>
                        <polyline class="st8" points="48.1,25 34,10.9 19.9,25  "/>
                        <polyline class="st4" points="48.1,25 34,10.9 19.9,25  "/>
                        <path class="st7" d="M41,25l-4.9-4.9c-1.4,1.4-2.8,1.4-4.2,0L27,25"/>
                        <path class="st4" d="M41,25l-4.9-4.9c-1.4,1.4-2.8,1.4-4.2,0L27,25"/>
                        <path class="st4" d="M58,55H15c-1.7,0-3-1.3-3-3V22c0,1.7,1.3,3,3,3h43v21V55z"/>
                        <path class="st5" d="M59,45H44.5c-3,0-5.5-2.5-5.5-5.5l0,0c0-3,2.5-5.5,5.5-5.5H59c1.1,0,2,0.9,2,2v7C61,44.1,60.1,45,59,45z"/>
                        <circle class="st1" cx="45.5" cy="39.5" r="2.5"/>
                    </g>
                </svg>
                <div class="border-block"></div>
            </div>
            <div class="description">Billing & Payments</div>
        </div>
        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57 56" style="enable-background:new 0 0 57 56;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st1{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st2{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st3{fill:#FFFFFF;}
                        .st4{fill:none;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st5{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#BCC0C4;stroke-width:2;stroke-miterlimit:10;}
                        .st7{fill:#E9EAEB;}
                        .st8{fill:#68C4EE;}
                        .st9{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st10{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st11{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st12{fill:none;}
                        .st13{fill:#2F2F90;}
                        .st14{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st15{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st16{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st17{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <circle class="st7" cx="26" cy="27" r="18"/>
                        <polyline class="st4" points="50,14 41.8,14 37.1,21 28,21  "/>
                        <line class="st4" x1="52" y1="27" x2="37" y2="27"/>
                        <circle class="st5" cx="49.5" cy="14.5" r="3.5"/>
                        <polyline class="st4" points="50,39 41.8,39 37.2,33 35,33  "/>
                        <ellipse class="st5" cx="49.5" cy="39.5" rx="3.5" ry="3.5"/>
                        <circle class="st5" cx="52.5" cy="26.5" r="3.5"/>
                        <polyline class="st4" points="41.7,52.5 33,40 26,40  "/>
                        <circle class="st5" cx="41.5" cy="51.5" r="3.5"/>
                        <polyline class="st4" points="42.9,3.8 34.9,13 33,13  "/>
                        <circle class="st5" cx="43.5" cy="4.5" r="3.5"/>
                        <path class="st4" d="M29,46v6h-8l0-5.2c-2.2-0.5-4.2-1.4-6-2.5l-3.5,3.3l-5.8-5.9l3-3.8C7.5,36,6.5,33.2,6,31H1v-9h5.1   c0.5-2,1.4-3.9,2.5-5.8l-3-3.4l5.8-5.9L15,9.8c1.8-1.2,3.9-1.9,6-2.4L21,3h8v4"/>
                        <path class="st4" d="M28,33h-2.1c-3.4,0-6.1-2.8-6.1-6s2.7-6,6.1-6H28"/>
                        <path class="st4" d="M26,13c-7.5,0-14,6.5-14,14s6.5,13,14,13"/>
                        <line class="st4" x1="30" y1="27" x2="28" y2="27"/>
                        <line class="st4" x1="35" y1="27" x2="33" y2="27"/>
                        <line class="st4" x1="28" y1="13" x2="30" y2="13"/>
                        <line class="st4" x1="33" y1="33" x2="30" y2="33"/>
                    </g>
                    </svg>
                <div class="border-block-2"></div>
            </div>
            <div class="description">UX/UI Design</div>
        </div>
        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 62" style="enable-background:new 0 0 60 62;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st1{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st2{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st3{fill:#FFFFFF;}
                        .st4{fill:none;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st5{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#BCC0C4;stroke-width:2;stroke-miterlimit:10;}
                        .st7{fill:#E9EAEB;}
                        .st8{fill:#68C4EE;}
                        .st9{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st10{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st11{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st12{fill:none;}
                        .st13{fill:#2F2F90;}
                        .st14{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st15{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st16{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st17{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <circle class="st7" cx="19" cy="38" r="19"/>
                        <line class="st6" x1="5" y1="40" x2="2" y2="40"/>
                        <line class="st6" x1="12" y1="40" x2="9" y2="40"/>
                        <line class="st6" x1="7" y1="42" x2="7" y2="45"/>
                        <line class="st6" x1="7" y1="35" x2="7" y2="38"/>
                        <line class="st6" x1="8" y1="10" x2="6" y2="12"/>
                        <line class="st6" x1="13" y1="5" x2="11" y2="7"/>
                        <line class="st6" x1="11" y1="10" x2="13" y2="12"/>
                        <line class="st6" x1="6" y1="5" x2="8" y2="7"/>
                        <line class="st6" x1="57" y1="0" x2="57" y2="2"/>
                        <line class="st6" x1="57" y1="4" x2="57" y2="6"/>
                        <line class="st6" x1="56" y1="3" x2="54" y2="3"/>
                        <line class="st6" x1="60" y1="3" x2="58" y2="3"/>
                        <polyline class="st6" points="47,5 47,2 26,2 26,11  "/>
                        <rect x="22" y="14" class="st7" width="18" height="7"/>
                        <polyline class="st4" points="40,21 40,14 22,14 22,21  "/>
                        <polygon class="st8" points="33,8 33,14 40,14 40,21 53,21 53,8  "/>
                        <polyline class="st4" points="53,21 53,8 33,8 33,14 40,14 40,21  "/>
                        <path class="st3" d="M56,24H13l9,21h26c2.1,0,4-1.3,4.6-3.3l5.1-15.5C58.1,25.1,57.1,24,56,24z"/>
                        <path class="st4" d="M17,24h39c1.1,0,2.1,1.1,1.8,2.1l-5.1,15.5C52,43.7,50.1,45,48,45H22"/>
                        <line class="st6" x1="28" y1="27" x2="28" y2="41"/>
                        <line class="st6" x1="36" y1="27" x2="36" y2="41"/>
                        <line class="st6" x1="44" y1="27" x2="44" y2="41"/>
                        <line class="st6" x1="47" y1="37" x2="25" y2="37"/>
                        <line class="st6" x1="49" y1="31" x2="22" y2="31"/>
                        <path class="st4" d="M50,52H27c-1.3,0-2.4-0.7-3-2c-0.7-1.4-8.9-20.5-11.9-27.5C11.4,21,9.9,20,8.2,20H1"/>
                        <circle class="st5" cx="25" cy="58" r="3"/>
                        <circle class="st5" cx="48.1" cy="58" r="3"/>
                    </g>
                    </svg>
                <div class="border-block"></div>
            </div>
            <div class="description">eCommerce</div>
        </div>
      

        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 60" style="enable-background:new 0 0 52 60;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st1{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st2{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st3{fill:#FFFFFF;}
                        .st4{fill:none;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st5{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#BCC0C4;stroke-width:2;stroke-miterlimit:10;}
                        .st7{fill:#E9EAEB;}
                        .st8{fill:#68C4EE;}
                        .st9{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st10{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st11{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st12{fill:none;}
                        .st13{fill:#2F2F90;}
                        .st14{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st15{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st16{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st17{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <circle class="st7" cx="26" cy="30" r="25"/>
                        <line class="st4" x1="26" y1="51" x2="26" y2="9"/>
                        <line class="st4" x1="44.2" y1="19.5" x2="7.8" y2="40.5"/>
                        <line class="st4" x1="7.8" y1="19.5" x2="44.2" y2="40.5"/>
                        <circle class="st1" cx="26" cy="30" r="16"/>
                        <line class="st4" x1="12" y1="13" x2="19" y2="9"/>
                        <line class="st4" x1="5" y1="36" x2="5" y2="24"/>
                        <line class="st4" x1="19" y1="51" x2="12" y2="47"/>
                        <line class="st4" x1="40" y1="47" x2="33" y2="51"/>
                        <line class="st4" x1="47" y1="24" x2="47" y2="36"/>
                        <line class="st4" x1="33" y1="9" x2="40" y2="13"/>
                        <path class="st8" d="M26,33c-3,0-9,0.9-9,4v2c2.4,2,5.6,3.3,9,3.3c3.4,0,6.6-1.2,9-3.3v-2C35,33.9,29,33,26,33z"/>
                        <path class="st1" d="M26,29c2.2,0,4-1.7,4-3.9v-2.3c0-2.1-1.8-3.9-4-3.9c-2.2,0-4,1.7-4,3.9v2.3C22,27.3,23.8,29,26,29z"/>
                        <path class="st4" d="M35,39v-2c0-3.1-6-4-9-4s-9,0.9-9,4v2"/>
                        <circle class="st1" cx="26" cy="5" r="4"/>
                        <circle class="st1" cx="47" cy="17" r="4"/>
                        <circle class="st1" cx="47" cy="43" r="4"/>
                        <circle class="st1" cx="5" cy="43" r="4"/>
                        <circle class="st1" cx="5" cy="17" r="4"/>
                        <path class="st1" d="M26,59c-2.2,0-4-1.8-4-4s1.8-4,4-4c2.2,0,4,1.8,4,4S28.2,59,26,59"/>
                    </g>
                    </svg>
                <div class="border-block-2"></div>
            </div>
            <div class="description">SMM(Social Media Marketing)</div>
        </div>




        
        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 55" style="enable-background:new 0 0 64 55;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st1{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st2{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st3{fill:#FFFFFF;}
                        .st4{fill:none;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st5{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#BCC0C4;stroke-width:2;stroke-miterlimit:10;}
                        .st7{fill:#E9EAEB;}
                        .st8{fill:#68C4EE;}
                        .st9{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st10{fill:#FFFFFF;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st11{fill:#E9EAEB;stroke:#2F2F90;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st12{fill:none;}
                        .st13{fill:#2F2F90;}
                        .st14{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        .st15{fill:none;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st16{fill:#68C4EE;stroke:#2F2F90;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
                        .st17{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <path class="st1" d="M52.5,19.8c-2.6,0-4.5-2.1-4.5-4.7v-1.6c0-2.6,1.9-4.7,4.5-4.7c2.6,0,4.5,2.1,4.5,4.7V15   C57,17.6,55.1,19.8,52.5,19.8z"/>
                        <path class="st8" d="M55,23c-1.8,0-20.4,0-22,0c0,2,2,5,5,5h8v27h12V42h1c2.1,0,4-1.9,4-4v-9C63,24.5,59.7,23,55,23z"/>
                        <path class="st4" d="M46,55V28h-8c-3,0-5-3-5-5c1.6,0,20.2,0,22,0c4.7,0,8,1.5,8,6v9c0,2.1-1.9,4-4,4"/>
                        <line class="st4" x1="52" y1="40" x2="52" y2="55"/>
                        <line class="st4" x1="58" y1="29" x2="58" y2="55"/>
                        <polyline class="st4" points="40,20 40,15 5,15 5,39 40,39 40,31  "/>
                        <polygon class="st5" points="20,21.8 20,31.8 28.3,26.8  "/>
                        <polyline class="st9" points="42,43 1,43 1,1 44,1 44,20  "/>
                        <line class="st9" x1="1" y1="7" x2="44" y2="7"/>
                        <line class="st9" x1="4" y1="4" x2="6" y2="4"/>
                        <line class="st9" x1="8" y1="4" x2="10" y2="4"/>
                        <line class="st9" x1="12" y1="4" x2="14" y2="4"/>
                        <line class="st9" x1="4" y1="11" x2="25" y2="11"/>
                    </g>
                    </svg>
                <div class="border-block"></div>
            </div>
            <div class="description">Marketing</div>
        </div>
       
       
       
        <div class="col-xl-2 col-md-3 col-6  block">
            <div class="images">
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                <path style="fill:#2D527C;" d="M353.4,414.598h-7.846c-8.041,0-14.562-6.519-14.562-14.562s6.521-14.562,14.562-14.562h7.846
                    c5.43,0,7.853-2.422,7.853-7.853V247.507c0-8.042,6.521-14.562,14.562-14.562s14.562,6.519,14.562,14.562V377.62
                    C390.376,399.046,374.825,414.598,353.4,414.598z"/>
                <path style="fill:#CEE8FA;" d="M375.814,182.717V156.86c0-66.172-53.643-119.813-119.813-119.813l0,0
                    c-66.172,0-119.813,53.643-119.813,119.813v25.859h239.627V182.717z"/>
                <path style="fill:#2D527C;" d="M342.055,53.739l28.879-28.879c5.686-5.686,5.686-14.907,0-20.595
                    c-5.688-5.686-14.906-5.686-20.595,0l-33.036,33.036c-18.39-9.468-39.234-14.818-61.302-14.818s-42.912,5.35-61.302,14.818
                    L161.662,4.265c-5.688-5.686-14.905-5.686-20.595,0c-5.686,5.686-5.686,14.907,0,20.595l28.879,28.879
                    c-29.512,24.669-48.322,61.738-48.322,103.121v25.859c0,0.02,0.003,0.041,0.003,0.061s-0.003,0.041-0.003,0.061v194.784
                    c0,19.115,12.378,33.553,30.261,36.447v49.799c0,26.09,22.042,48.131,48.133,48.131c26.088,0,48.128-22.042,48.128-48.131v-49.267
                    h15.708v49.267c-0.001,12.38,5.22,24.701,14.324,33.807c9.104,9.104,21.426,14.324,33.807,14.324
                    c26.089,0,48.131-22.042,48.131-48.133c0-8.043-6.521-14.562-14.562-14.562s-14.562,6.519-14.562,14.562
                    c0,9.949-9.06,19.009-19.008,19.009c-4.714,0-9.529-2.113-13.212-5.796c-3.683-3.683-5.794-8.497-5.794-13.21v-63.829
                    c0-8.043-6.521-14.562-14.562-14.562h-44.832c-8.041,0-14.562,6.519-14.562,14.562v63.829c0,9.949-9.059,19.008-19.005,19.008
                    c-9.949,0-19.009-9.06-19.009-19.008v-63.829c0-8.043-6.521-14.562-14.562-14.562h-7.847c-5.43,0-7.853-2.422-7.853-7.853V197.279
                    h225.066c8.041,0,14.562-6.519,14.562-14.562v-25.859C390.376,115.476,371.568,78.408,342.055,53.739z M361.252,168.155H150.749
                    v-11.297c0-58.036,47.217-105.251,105.251-105.251s105.251,47.215,105.251,105.251V168.155z"/>
                <path style="fill:#CEE8FA;" d="M73.249,358.937L73.249,358.937c-13.953,0-25.266-11.312-25.266-25.266V206.752
                    c0-13.953,11.312-25.266,25.266-25.266l0,0c13.953,0,25.266,11.312,25.266,25.266v126.919
                    C98.514,347.626,87.203,358.937,73.249,358.937z"/>
                <path style="fill:#2D527C;" d="M73.249,373.499c-21.961,0-39.828-17.867-39.828-39.828V206.752
                    c0-21.961,17.867-39.828,39.828-39.828s39.828,17.867,39.828,39.828v126.919C113.076,355.633,95.21,373.499,73.249,373.499z
                     M73.249,196.05c-5.902,0-10.704,4.801-10.704,10.704v126.92c0,5.902,4.802,10.704,10.704,10.704s10.704-4.801,10.704-10.704
                    v-126.92C83.952,200.851,79.151,196.05,73.249,196.05z"/>
                <path style="fill:#CEE8FA;" d="M438.752,358.937L438.752,358.937c-13.953,0-25.266-11.312-25.266-25.266V206.752
                    c0-13.953,11.312-25.266,25.266-25.266l0,0c13.953,0,25.266,11.312,25.266,25.266v126.919
                    C464.016,347.626,452.705,358.937,438.752,358.937z"/>
                <g>
                    <path style="fill:#2D527C;" d="M438.752,373.499c-21.961,0-39.828-17.867-39.828-39.828V206.752
                        c0-21.961,17.867-39.828,39.828-39.828c21.961,0,39.828,17.867,39.828,39.828v126.919
                        C478.578,355.633,460.712,373.499,438.752,373.499z M438.752,196.05c-5.902,0-10.704,4.801-10.704,10.704v126.92
                        c0,5.902,4.802,10.704,10.704,10.704c5.902,0,10.704-4.801,10.704-10.704v-126.92C449.455,200.851,444.654,196.05,438.752,196.05z"
                        />
                    <circle style="fill:#2D527C;" cx="215.225" cy="112.796" r="12.378"/>
                    <circle style="fill:#2D527C;" cx="296.771" cy="112.796" r="12.378"/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>
                <div class="border-block"></div>
            </div>
            <div class="description">Android</div>
        </div>
     
    </div>
</div>
<div class="container-fluid ps-md-5 pe-md-5 section-2 pb-5">
<div class="row">
        <div class="col-12 page-title">
            Обширный технический опыт
        </div>
        <div class="col-12 page-paragraph">
            Мы разрабатываем решения любой сложности, начиная с минимально жизнеспособных продуктов (MVP) для стартапов, решений для малого и среднего бизнеса и т. Д.   
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks ">
            <div class="block p-4">
                <div class="title">Frontend</div>
                <div class="technologies">
                    <span>Angular</span>
                    <span>React</span>
                    <span>HTML5</span>
                    <span>CSS3</span>
                    <span>JavaScript</span>
                    <span>TypeScript</span>
                    <span>Stylus</span>
                    <span>Pug</span>
                    <span>React Native</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">APIs</div>
                <div class="technologies">
                    <span>Django REST framework</span>
                    <span>Twilio</span>
                    <span>Facebook API</span>
                    <span>LinkedIn API</span>
                    <span>Instagram API</span>
                    <span>Stripe</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">Backend</div>
                <div class="technologies">
                    <span>Go</span>
                    <span>NodeJS</span>
                    <span>Python</span>
                    <span>PHP</span>
                    <span>Django</span>
                    <span>Celery</span>
                    <span>Tornado</span>
                    <span>WebSocket</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">DevOps</div>
                <div class="technologies">
                    <span>Ansible</span>
                    <span>Docker</span>
                    <span>Jenkins</span>
                    <span>Git</span>
                    <span>AWS</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">Mobile</div>
                <div class="technologies">
                    <span>Ionic</span>
                    <span>NDK</span>
                    <span>RxJS</span>
                    <span>Progressive Web App</span>
                    <span>Xcode</span>
                    <span>Push Notifications</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">Testing</div>
                <div class="technologies">
                    <span>Selenium</span>
                    <span>Sahi</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">Database & Storage</div>
                <div class="technologies">
                    <span>MySQL</span>
                    <span>PostgreSQL</span>
                    <span>MongoDB</span>
                    <span>FireBase</span>
                    <span>Redis</span>
                    <span>ElasticSearch</span>
                    <span>Geo Django</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-4  blocks">
            <div class="block p-4">
                <div class="title">Analytics</div>
                <div class="technologies">
                    <span>Apache HaDoop</span>
                    <span>Google</span>
                </div>
            </div>
        </div>
    </div>
</div>


   

