.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.top-footer a{
    font-size: 120%;
}
.top-footer button{
    color: #fff;
    border-radius: 0;
    padding: 6px 20px;
    font-size: 120%;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    width: 100%;
}
.copyright{
    width: 30%;
}
.f-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.followUs{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.followUs a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
}


@media (max-width: 800px){
    .bottom-footer{
        flex-direction: column;
        align-items: center;
    }
    .copyright{
        text-align: center;
        width: 100%;   
        margin: 10px 0;

    }
    .f-links{
        flex-direction: column;
        align-items: center;   
        margin: 10px 0;
    }
    .f-links a{
        margin: 5px 0;
    }
    .followUs{
        margin: 10px 0;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%
    }
}