<div class="pd-custom footer" #footer>
    <div class="top-footer">
        <h2 class="openSans-light mb-4 callUs">Call us now</h2>
        <h2 class="openSans-bold mb-3 f-num">+998 00 000 00 00</h2>
        <a href="#" class="mb-3 openSans-light">contact@itkron.com</a>
        <button (click)="openDialog()" mat-button class="mt-4 custom-bg btn-touch">Get in touch</button>
    </div>

    <div class="bottom-footer">
        <div class="copyright openSans-medium">
            © IT-Kron, 2021
        </div>

        <div class="f-links">
            <a class="openSans-medium">Services</a>
            <a class="openSans-medium">Projects</a>
            <a class="openSans-medium">Technologies</a>
            <a class="openSans-medium">Company</a>
        </div>

        <div class="followUs">
            <p class="text-muted m-0 openSans-light">Follow us:</p>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#">
                    <i class="ri ri-telegram-fill"></i>
                </a>
                <a href="#">
                    <i class="ri ri-instagram-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>