#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

#nav-links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#logo{
    margin-top: -10px;
    cursor: pointer;
}
.logo-text{
    transition: .5s;
}
#logo:hover .logo-text{
    fill: #EA80FC;
}




.nav-link{
    cursor: pointer;
    padding: 15px 15px;
    margin: 10px;
    position: relative;
    line-height: normal !important;
    border-radius: 0 !important;
}
#logo:hover{
    background-color:  rgba(255, 255, 255, 0.2);

  }
 
 



.nav-link .active-stick{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff;
    transition: all .5s;
    opacity: 0;

}

.active  .active-stick{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff;
    opacity: 0.6;
    transition: all .5s;


}
.nav-link:hover{
    color: #007bff;
}

.nav-link:not(.active):hover .active-stick{
    opacity: 1;
}

.nav-btn:hover{
    background-color: #003399;
    transition: all .3s;
    color: #fff;

}
.nav-btn{
    white-space: nowrap;
}

#burger{
    cursor: pointer;
    margin: 10px 20px;
    position: relative;
    border: none;
    background-color: transparent ;
    outline: none;
    display: none;
}
#burger span{
    font-size: 35px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#burger-content{
    position: absolute;
    left: 0;
    background-color: #fff;
    z-index: 2;
    right: 0;
    top: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    
}
#burger-content a{
    opacity: 0;
}
@media (max-width: 768px){
    .sm-link{
        display: none;
    }
  
    .nav-btn{
        padding: 10px;
    }
    #burger{
        display: inline-block;
    }
}


  

