<!-- section-1 home -->
<div class="pd-custom section-1">
    <h1 class="s1-intro" #intro>
        We build<span>web & mobile <br> application</span>
    </h1>
    
    <div class="s1-content" #s1_content>
        <div class="s1-rect"  [routerLink]="['/not-found']">
            <div class="s1-rect-content">
                <h2>Web development</h2>
                <div class="stick-right"> 
                   
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Mobile app development</h2>
                <div class="stick-right"> 
                  
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Service engineering</h2>
                <div class="stick-right"> 
                 
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Business analysis</h2>
                <div class="stick-right"></div>
            </div>
        </div>
    </div>
</div>


<!-- section-2  -->

<div class="pd-custom section-2">
    <div class="s-intro">What matters is the Result <br></div>
    
    <div class="s2-content-cont">
        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>

        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>

        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>
    </div>
</div>


<!-- section-3  -->

<div class="section-3 pd-custom">
    <div class="s-intro">Professional Team <br></div>

    <div class="team-box">

        <div class="team-item">

          
                <div class="team-img"></div>

           
            <div class="team-about">
                <h3 class="openSans-light">Salimbek Karimbayev</h3>
                <span class="text-muted">
                    Owner of IT-Kron LLC.
                </span>
            </div>

        </div>  
        
    
    </div>
</div>
<br> <br>