<!-- section-1 home -->
<div class="pd-custom section-1">
    <h1 class="s1-intro" #intro>
        Мы разрабатываем
        <span>
            web & mobile <br> 
            application
        </span>
    </h1>
    
    <div class="s1-content" #s1_content>
        <div class="s1-rect web"  [routerLink]="['/not-found']">
            <div class="s1-rect-content">
                <h2>Web development</h2>
                <div class="stick-right"> 
                   
                </div>
            </div>
        </div>

        <div class="s1-rect mobile" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Mobile app development</h2>
                <div class="stick-right"> 
                  
                </div>
            </div>
        </div>

        <div class="s1-rect marketing" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Marketing</h2>
                <div class="stick-right"> 
                 
                </div>
            </div>
        </div>

        <div class="s1-rect e-commerce" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>E-Commerce Development</h2>
                <div class="stick-right"></div>
            </div>
        </div>
    </div>
</div>


<!-- section-2  -->

<div class="pd-custom section-2" #sect2>
    <div class="s-intro">
        Важен результат
         <br></div>
    
    <div class="s2-content-cont">
        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Безопасный</h3>

            </div>   
            <div class="s2-content-box">
                Здесь, в "IT-Kron", мы внедряем лучшие практики и делаем все от начала до конца. Такой подход позволяет нам поддерживать постоянный уровень качества и выполнять свои обещания. </div>         
        </div>
        
        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/bullhorn.svg" alt="">
                <h3>Oбщение</h3>
            </div>   
            <div class="s2-content-box">
                Мы открыты и доступны на протяжении всего процесса разработки, чтобы не упустить ни одной детали вашего проекта. Мы считаем, что прозрачность и честность - это то, что делает возможным наилучшее обслуживание клиентов.    </div>         
        </div>

        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/qwertyh.svg" alt="">


                <h3>Прогресс</h3>
            </div>   
            <div class="s2-content-box">
                Наша цель - раскрыть истинную ценность вашего бизнеса, используя передовые технологии вместе с тщательным бизнес-анализом, и привнести креативность и инновации, где это необходимо.  </div>         
        </div>
    </div>
</div>


<!-- section-3  -->

<div class="section-3 pd-custom" #sect3>
    <div class="s-intro">Team <br></div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide team-item sk">
                <div class="team-img"></div>
                <div class="team-about">
                    <h3 class="openSans-light">
                        Артем К.
                    </h3>
                    <span class="text-muted">
                        Full stack Developer
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div  class="team-item pr slide"> 
                <div class="team-img"></div>               
                <div class="team-about">
                    <h3 class="openSans-light">
                        Салимбек Каримбаев
                    </h3>
                    <span class="text-muted">
                        Owner of IT-Kron LLC.
                    </span>            
          </div>
        </div>  
      </ng-template>

  
        <ng-template carouselSlide>
              <div  class="team-item js slide"> 
                <div class="team-img"></div>               
            <div class="team-about">
                <h3 class="openSans-light">
                    Мадина Назимова
                </h3>
                <span class="text-muted">
                    Project Manager
                </span>
            </div>
          </div>  
        </ng-template>
    
        
    </owl-carousel-o>
   
</div>
<br><br>

