<!-- section-1 home -->
<div class="pd-custom section-1">
    <h1 class="s1-intro" #intro>
        We build<span>web & mobile <br> application</span>
    </h1>
    
    <div class="s1-content" #s1_content>
        <div class="s1-rect"  [routerLink]="['/not-found']">
            <div class="s1-rect-content">
                <h2>Web development</h2>
                <div class="stick-right"> 
                   
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Mobile app development</h2>
                <div class="stick-right"> 
                  
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Service engineering</h2>
                <div class="stick-right"> 
                 
                </div>
            </div>
        </div>

        <div class="s1-rect" [routerLink]="['/']">
            <div class="s1-rect-content">
                <h2>Business analysis</h2>
                <div class="stick-right"></div>
            </div>
        </div>
    </div>
</div>


<!-- section-2  -->

<div class="pd-custom section-2">
    <div class="s-intro">What matters is the Result <br></div>
    
    <div class="s2-content-cont">
        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>

        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>

        <div class="s2-box">
            <div class="s2-img-box">
                <img src="../../../assets/icons-05.svg" alt="">
                <h3>Reliability</h3>
            </div>   
            <div class="s2-content-box">
                    Here at Nord-Soft, we implement best practices and do things right from beginning to end. Such an approach allows us to maintain a consistent level of quality and deliver on our promises.
            </div>         
        </div>
    </div>
</div>

<!-- section-3  -->
<div class="section-3 pd-custom">
    <div class="s-intro">TEAM <br></div>
    <div class="s3-team-cont">
        <div class="team-item">
            <div class="team-img">
              <img src="../../../assets/sk.jpeg" alt="" class="img-responsive">
            </div>    
            
            <div class="team-content">
                <h4>Salimbek Karimbayev</h4>
                <span class="text-muted prof">
                    Owner of IT-Kron LLC.
                </span>
               
                <span class="text-muted prof-about">
                    Lorem ipsum dolor sit  cumque impedit quis nobis! 
                     cumque impedit quis nobis
                </span>
                <div class="team-links">
                   <a href="" class="text-dark" mat-raised-button><i class="ri-telegram-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button><i class="ri-facebook-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button><i class="ri-instagram-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
            </div>
        </div>
        <div class="team-item">
            <div class="team-img">
              <img src="../../../assets/bin.jpg" alt="" class="img-responsive">
            </div>    
            
            <div class="team-content">
                <h4>Sa'dullayev Jo'shqinbek</h4>
                <span class="text-muted prof">
                    Full Stack Developer
                </span>
               
                <span class="text-muted pt-2 pb-2">
                    Lorem ipsum dolor sit  cumque impedit quis nobis! 
                     cumque impedit quis nobis
                </span>
                <div class="team-links">
                   <a href="" class="text-dark" mat-raised-button><i class="ri-telegram-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button><i class="ri-facebook-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button><i class="ri-instagram-fill"></i></a>
                  <a href="" class="text-dark" mat-raised-button> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>