/* ---  section-2 ----  */

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
}

.s-intro{
    text-align: center;
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding: 15px 0;
    margin: 10px 0;

}
.s2-content-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s2-box{
    padding: 20px;
    margin: 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #fff;
}
.s2-img-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.s2-img-box h3{
    font-family: 'Open Sans', sans-serif;
}

.s2-img-box img{
    width: 30%;
    margin-right: 5px;
}


.s2-content-box{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}




/* ---  section-3 ----  */
.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.s3-team-cont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.team-item{
    width: 48%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 18px 8px;
    box-shadow: 1px 2px 5px gray;
    margin: 10px 0;
    transition: .5s;
}
.team-item:hover{
    transform: translateY(-15px);
}
.team-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 20px;

}
.team-img img{
    height: 120px;
    width: 100%;
    border-radius: 50%;
}

.team-content{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.team-content h4{
    color: #222;
}
.prof, .prof-about{
    font-size: 90%;
}
.prof{
    margin: 2px 0px;
    padding: 5px 0px;
    position: relative;
}
.prof:before{
    position: absolute;
    bottom: 0;
    content: '';
    width: 50px;
    background-color: #555;
    height: 2px;

}

.team-links{
    display: flex;
    align-items: center;
    margin: 10px 0 0;
}
.team-links a{
    font-size: 120%;
    border-radius: 50%;
    padding: 8px;
    margin: 0 5px;
    min-width: 0px;
    line-height: normal;
    text-decoration: none;   
}

@media (max-width: 900px){
    .s3-team-cont{
        flex-direction: column;
        align-items: center;
    }
    .team-item{
        width: 100%;
    }
}

@media (max-width: 400px){
    .team-item{
        flex-direction: column;
        align-items: center;
    }
    .team-content h4, .team-content span{
        text-align: center;
    }
  
}
