@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);


.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
  text-decoration: none;
  border-radius: 0;
  color: #fff;
  font-weight: 33px;
  
}
.button:hover{
    background-color: #003399;
    transition: all .3s;
    color: #fff;
}
p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 24vh;
  font-weight: 100;
}