<div class="section-1 pd-custom" #sect_1>
  <h2 class="s1-intro mt-4 mb-4">Сервисы</h2>
  <p class="openSans-light">
    Мы специализируемся на разработке веб-приложений и мобильных приложений и
    предоставляем компаниям высококачественные решения. Опыт нашей команды и
    глубокое понимание потребностей вашего бизнеса закладывают прочную основу
    для успеха проекта
  </p>
</div>

<div class="section-2 bg-2 pd-custom pd-service-t" #sect_2>
  <h2 class="s1-intro-light mt-4 mb-4">
    Full-stack разработка программного обеспечения
  </h2>
  <p class="openSans-light">
    Наш основной стек включает Vue.js and Nuxt.js,Angular, Ionic, Flutter,
    HTML5, CSS3, и Javascript для Frontend и Node.js/Express для Backend
  </p>
</div>

<div class="section-3 pd-custom pd-service-b bg-2" #sect_3>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/browser.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Веб-разработка</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы обеспечиваем разработку веб-приложений для различных секторов
        бизнеса. «IT-kron» использует расширенный набор языков программирования,
        фреймворков, библиотек и инструментов для создания проектов любого
        масштаба и сложности и преобразования ваших идей в инновационные
        решения.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/ux-interface.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">UX / UI дизайн</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы уделяем особое внимание дизайну UX / UI, творчески подходим к
        удовлетворению потребностей клиентов, работаем с нашей профессиональной
        командой над созданием современного дизайна.😁 😉
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/apple.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">IOS</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы предлагаем разработку гибридных iOS-приложений для iPhone и iPad.
        Наша команда поможет вам создать мобильную версию вашего сайта или
        разработать совершенно новое приложение. Будь то идея, подробная
        спецификация или недоработанное приложение, мы воплотим ваш проект в
        жизнь.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/android.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Android</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        The state-of-the-art tools and techniques we use allow us building
        hybrid mobile applications that run smoothly on Android devices. You can
        rely on us to develop a new Android app, improve your existing one, or
        port your iOS app to Android platform
      </p>
    </div>
  </div>
</div>
<div class="section-2 bg-2 pd-custom pd-service-t">
  <h2 class="s1-intro-light mt-4 mb-4">QA & Поддержка</h2>
  <p class="openSans-light">
    Мы всегда контролируем и оцениваем нашу работу, чтобы убедиться, что наши
    процессы работают бесперебойно, наши продукты хорошо разработаны, а
    результаты соответствуют вашим ожиданиям.
  </p>
</div>

<div class="section-4 pd-custom pd-service-b" #sect_4>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/checklist.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Тестирование</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Тестирование программного обеспечения является неотъемлемой частью
        жизненного цикла разработки программного обеспечения. Во время циклов
        разработки мы выполняем различные типы тестирования, такие как
        тестирование пользовательского интерфейса, функциональное тестирование,
        нагрузочное и стресс-тестирование, для обнаружения ошибок и проверки
        того, что функциональность удовлетворяет заданным требованиям.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/maintenance.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Обслуживание</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        оставка программного продукта сопровождается изменениями. Мы это
        понимаем. Таким образом, мы предоставляем различные виды обслуживания,
        такие как исправление ошибок, расширение возможностей, оптимизация и т.
        Д.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/code.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Аудит кода</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы предлагаем услуги по аудиту кода и рефакторингу для проектов,
        сталкивающихся с техническими проблемами. Для этих проектов мы проводим
        подробный анализ исходного кода, ищем ошибки и уязвимости и улучшаем
        существующую кодовую базу путем ее реструктуризации. Мы делаем ваш код
        лучше, а проект - здоровее
      </p>
    </div>
  </div>
</div>

<div class="section-2 bg-2 pd-custom pd-service-t">
  <h2 class="s1-intro-light mt-4 mb-4">Почему нужно выбрать нас</h2>
  <p class="openSans-light">
    Мы - целеустремленная команда, стремящаяся к лучшим результатам
  </p>
</div>

<div class="section-5 pd-custom pd-service-b bg-2" #sect_5>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/idea.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">От идеи до воплощения</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы позволяем нашему вниманию к деталям и большому интересу к
        потребностям вашего бизнеса руководить нашим процессом разработки. Мы
        внимательно следим за вашими требованиями и предоставляем качественные
        решения в рамках бюджета и в срок.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/workflow.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Прозрачный рабочий процесс</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы поддерживаем вас настолько, насколько вы этого хотите. Частые
        проверки обеспечивают наглядность процесса разработки и помогают
        согласовать результаты с вашими ожиданиями.
      </p>
    </div>
  </div>
  <div class="s3-item">
    <div class="s3-item-top">
      <img src="../../../assets/services/update.svg" alt="" />
      <h2 class="s1-intro-light openSans-bold">Регулярные обновления</h2>
    </div>
    <div class="s3-item-content">
      <p class="openSans-light">
        Мы предоставляем вам подробные отчеты, сопровождаемые демонстрациями,
        чтобы вы могли оценить прогресс, достигнутый в конкретной итерации, и
        убедиться, что ваш проект идет по плану.
      </p>
    </div>
  </div>
</div>

<div class="section-2 bg-2 pd-custom pd-service-t">
  <h2 class="s1-intro-light mt-4 mb-4">
    Как будет выглядеть наше сотрудничество
  </h2>
  <p class="openSans-light">
    Вот основные этапы взаимодействия с нашими клиентами. От первой встречи до
    реализации проекта мы предлагаем помощь и ресурсы на каждом этапе пути.
  </p>
</div>

<div class="section-6 pd-custom pd-service-b" #sect_6>
  <div class="s6-1">
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/contract.svg" alt="" />
        <h3 class="openSans-light">подписать соглашение о проект</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">1</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/discuss.svg" alt="" />
        <h3 class="openSans-light">Обсудить проект</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">2</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/contract.svg" alt="" />
        <h3 class="openSans-light">Подписать контракт</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">3</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/browser.svg  " alt="" />
        <h3 class="openSans-light">Настроить интерфейс</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">4</div>
        <div class="s6-border"></div>
        <div class="s6-border-2"></div>
      </div>
    </div>
  </div>

  <div class="s6-2">
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/presentation.svg" alt="" />
        <h3 class="openSans-light">Разработка программного обеспечения</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">5</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/serv.svg" alt="" />
        <h3 class="openSans-light">Доставка регулярно</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">6</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/check.svg" alt="" />
        <h3 class="openSans-light">Выпуск продукта</h3>
      </div>
      <div class="s6-item-bottom">  
        <div class="s6-num">7</div>
        <div class="s6-border"></div>
      </div>
    </div>
    <div class="s6-item-box">
      <div class="s6-item-top">
        <img src="../../../assets/services/operator.svg" alt="" />
        <h3 class="openSans-light">Поддерживайте продукт</h3>
      </div>
      <div class="s6-item-bottom">
        <div class="s6-num">8</div>
        <div class="s6-border"></div>
      </div>
    </div>
  </div>
</div>
