<div class="section-1 pd-custom">
    <h2 class="s1-intro mt-4 mb-4">
        Services
    </h2>
    <p class="openSans-light">
        We specialize in web and mobile app development and deliver high-end solutions 
        to the companies all around the world. Our team's expertise and keen insight into 
        your business needs lay a solid foundation for project success.
    </p>
</div>

<div class="section-2 bg-2 pd-custom pd-service-t">
    <h2 class="s1-intro-light mt-4 mb-4">
        Full-stack software development
    </h2>
    <p class="openSans-light">
        Our primary stack includes React Native, React, Angular, Ionic, HTML5, CSS3, and JavaScript for Frontend and Python/Django for Backend.
    </p>
</div>

<div class="section-3 pd-custom pd-service-b bg-2 ">

    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>

</div>
<div class="section-2 bg-2 pd-custom pd-service-t">
    <h2 class="s1-intro-light mt-4 mb-4">
        QA & Support
    </h2>
    <p class="openSans-light">
        We always control and evaluate our work to make sure that our processes run smoothly, our products are well-developed, and the results meet your expectations.
    </p>
</div>

<div class="section-4 pd-custom pd-service-b">

    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
   

</div>

<div class="section-2 bg-2 pd-custom pd-service-t">
    <h2 class="s1-intro-light mt-4 mb-4">
        Why choose us
    </h2>
    <p class="openSans-light">
        We're a dedicated team aiming for top results
    </p>
</div>

<div class="section-5 pd-custom pd-service-b bg-2">

    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. IT-Kron leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
</div>



<div class="section-2 bg-2 pd-custom pd-service-t">
    <h2 class="s1-intro-light mt-4 mb-4">
        What our collaboration will look like
    </h2>
    <p class="openSans-light">
        Here are the basic stages of our client engagement.
        From the initial meeting to the project delivery, we offer assistance and resources every step of the way.
    </p>
</div>

<div class="section-6 pd-custom pd-service-b" #sect_6>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
            <div class="s6-border-2"></div>
        </div>
    </div>


    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
    <div class="s6-item-box">
        <div class="s6-item-top">
            <img src="../../../assets/serv.svg" alt="">
            <h3 class="openSans-light">Sign the NDA</h3>
        </div>
        <div class="s6-item-bottom">
            <div class="s6-num">1</div>
            <div class="s6-border"></div>
        </div>
    </div>
</div>