<div class="section-1 pd-custom">
    <h2 class="s1-intro mt-4 mb-4">
        Services
    </h2>
    <p class="openSans-light">
        We specialize in web and mobile app development and deliver high-end solutions 
        to the companies all around the world. Our team's expertise and keen insight into 
        your business needs lay a solid foundation for project success.
    </p>
</div>

<div class="section-2 bg-2 pd-custom pd-service-t">
    <h2 class="s1-intro-light mt-4 mb-4">
        Full-stack software development
    </h2>
    <p class="openSans-light">
        Our primary stack includes React Native, React, Angular, Ionic, HTML5, CSS3, and JavaScript for Frontend and Python/Django for Backend.
    </p>
</div>

<div class="section-3 pd-custom pd-service-b bg-2 ">

    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. Nord-Soft leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. Nord-Soft leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. Nord-Soft leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>
    <div class="s3-item">
        <div class="s3-item-top">
            <img src="../../../assets/icons-08.svg" alt="">
            <h2 class="s1-intro-light openSans-bold">Web development</h2>            
        </div>
        <div class="s3-item-content">
            <p class="openSans-light">
                We provide development of web applications for a 
                variety of business sectors. Nord-Soft leverages an 
                extended set of programming languages, frameworks, 
                libraries and tools to build projects of any scale and 
                complexity and transform your ideas into innovative 
                solutions.
            </p>
        </div>
    </div>

</div>

<div class="pd-service section-4">

</div>