/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

.openSans-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.openSans-medium{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.openSans-bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

body{
    overflow-x: hidden;

}

.main-cont{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
}
.pd-custom{
    padding: 18px 8vh;
}

.custom-bg{
    background-color: #8244bd;
}
.white-text{
    color: #fff;
}
.blue-text{
    color: #007bff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
}
button:focus{
    outline: none !important;
    box-shadow: none !important;
}
input:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}   


@media (max-width: 900px){
    .pd-custom{
        padding: 10px 10px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
