/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

.pd-service{
    padding: 60px 12vh;

}

.pd-service-t{
    padding-top: 60px !important;

}
.pd-service-b{
    padding-bottom: 60px !important;

}
.openSans-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.openSans-medium{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.openSans-bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.bg-2{
    background-color: #f7f7f7;
}
.s1-intro{
    margin: 0 0 30px;
    font-size: 350%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.s1-intro-light{
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.s1-intro span{
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #222;
    margin-left: 10px;
}


body{
    overflow-x: hidden;

}
.txd-none{
    text-decoration: none;
}
.main-cont{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
}
.pd-custom{
    padding: 18px 12vh;
}

.custom-bg{
    background-color: #8244bd;
}
button.custom-bg{
    white-space: nowrap;
}
button.custom-bg:hover{

    background-color: #003399;
    transition: all .3s;
    color: #fff;
}
.white-text{
    color: #fff;
}
.blue-text{
    color: #007bff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
}
*:focus{
    outline: none !important;
    box-shadow: none !important;
}
input:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}   


@media (max-width: 900px){
    .pd-custom{
        padding: 10px 10px;
    }

    .pd-service{
        padding: 30px 10px;
    }
    .pd-service-b{
        padding-bottom: 30px;
    }
    .pd-service-t{
        padding-top: 30px ;  
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (max-width: 860px){
    .s1-intro{
        font-size: 200% !important;
        width: 100%;
        text-align: center;
    }
    .s1-intro-light{       
        font-size: 160%;
       
    }
}