/* You can add global styles to this file, and also import other style files */

.custom-bg{
    background-color: #8244bd;
}
.white-text{
    color: #fff;
}
.blue-text{
    color: #007bff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}