
<button id="close" mat-dialog-close mat-dialog-title class="h1">
    <i class="ri-close-line"></i>
</button>
<mat-dialog-content class="mat-typography pt-2" #intouch>
   
    <div class="intouch-box">
        <form>
            <h2 class="openSans-light h1">Get In Touch</h2>
            <mat-form-field>
                <mat-label>Your name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Your email</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Message</mat-label>
                <textarea rows="4" matInput></textarea>
              </mat-form-field>
              <button mat-button class="submit-form custom-bg mb-2">
                    Send
              </button>
        </form>

        <div class="intouch-content">
            <h2 class="openSans-light h1">What happens next</h2>
            <br>
            <p class="openSans-light">
                As soon as we receive your request we'll reach out to you for further discussion. We usually respond within 6 hours.

                Next, we'll schedule a meeting to discuss your project in more detail.

                We use Skype or Google Hangouts for video calls. If you prefer something else, just let us know in your message.
                <br>
                <span class="openSans-bold">
                    or contact us
                </span>
            </p>
            
            <h2 class="openSans-bold h2">
                +375 29 675-93-17
            </h2>
            <a href="#" class="h4 openSans-light">
                contact@itkron.com
            </a>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#" class="h4 txd-none">
                    <i class="ri ri-telegram-fill"></i>
                </a>
                <a href="#" class="h4 txd-none">
                    <i class="ri ri-instagram-fill"></i>
                </a>
            </div>
        </div>
        
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <span class="text-muted">
        © IT-Kron, 2021
    </span>
</mat-dialog-actions>
