
<button id="close" mat-dialog-close mat-dialog-title class="h1">
    <i class="ri-close-line"></i>
</button>
<mat-dialog-content class="mat-typography pt-2" #intouch>
   
    <div class="intouch-box">
        <form>
            <h2 class="openSans-light h1">Связаться</h2>
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Эл. адрес</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Сообщение</mat-label>
                <textarea rows="4" matInput></textarea>
              </mat-form-field>
              <button mat-button class="submit-form custom-bg mb-2">
                    Отправить
              </button>
        </form>

        <div class="intouch-content">
            <h2 class="openSans-light h1">Что произойдет дальше</h2>
            <br>
            <p class="openSans-light">
               Как только мы получим ваш запрос, мы свяжемся с вами для дальнейшего обсуждения. Обычно мы отвечаем в течение 6 часов.

Затем мы назначим встречу, чтобы обсудить ваш проект более подробно.

Мы используем Zoom для видеозвонков. Если вы предпочитаете что-то другое, просто сообщите нам об этом в своем сообщении.
                <br>
                <span class="openSans-bold">
                    или свяжитесь с нами
                </span>
            </p>
            
            <h2 class="openSans-bold h2">
                +998 33 010 02 03
            </h2>
            <a href="mailto:skareembayev@gmail.com" class="h4 openSans-light">
                skareembayev@gmail.com
            </a>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#" class="h4 txd-none">
                    <i class="ri ri-telegram-fill"></i>
                </a>
                <a href="#" class="h4 txd-none">
                    <i class="ri ri-instagram-fill"></i>
                </a>
            </div>
        </div>
        
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <span class="text-muted">
        © IT-Kron, 2021
    </span>
</mat-dialog-actions>
